<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.1/css/materialize.min.css">
	<script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.1/js/materialize.min.js"></script>
	<script src="/js/three.min.js"></script>
	<script src="/js/stats.min.js"></script>
	<script src="/js/OrbitControls.js"></script>
	<script src="/js/Detector.js"></script>
	<script src="/js/Projector.js"></script>
	<script src="/js/position.js"></script>
	<script src="/js/jquery-1.11.3.min.js"></script>
	<script src="/js/jquery.balloon.js"></script>
	<script src="/socket.io/socket.io.js"></script>
	<script src="/js/petMotion.js"></script>
	<script src="https://www.google.com/jsapi" type="text/javascript"></script>

	<title>ホーム</title>
	<style>
		body {
			font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, sans-serif;
			background-color: #f0f0f0;
			margin: 0px;
			overflow: hidden;
		}
		#status_div {
			position: absolute;
			top: 100px;
			left: 10px;
			padding: 10px;
			opacity: 0.9;
			border-radius: 10px;
		}
		#searchbox_div {
			position: absolute;
			top:50px;
			right:10px;
			width: 200px;
			text-align: center;
			padding: 5px;
			background-color: #fff;
			opacity: 0.8;
			border-radius: 10px;
		}
		#pet_remark {
			margin:0.5em 0 0 0;
			padding:0px;
		}
		#pet_baloon {
			position: absolute;
			top:120px;
			right:450px;
			padding: 10px;
			border: 1px solid #000;
			background-color: #fff;
			opacity: 0;
			border-radius: 10px;
		}
		#cse {
			margin:0;
			padding: 0;
		    width:15em;
		    height:15em;
		    overflow:scroll;
	    }
	    .gsc-search-button {
			cursor: pointer;
			cursor: hand;	    	
	    }
	    .gsc-control-cse .gsc-control-cse-ja{
	    	margin:0;
	    	padding: 0;
	    }
	    
	    .gsc-above-wrapper-area {
	    	height:1em;
	    }
	    .gsc-result-info-container .gsc-result-info{
	    	padding: 0 0 1em 0;	    	
	    	margin: 0;
	    }
		#auto_search {		
			position: absolute;
			top:410px;
			right:10px;
			padding: 10px;
			border: 1px solid #000;
			background-color: #fff;
			opacity: 0.8;
			border-radius: 10px;
		}
    	
	    #auto_cse {
	    	margin:0;
			padding: 0;
		    width:15em;
		    height:14em;	      
		    overflow:scroll;
	    }

	    #auto_cse .gsc-search-box {
	    		
			display:none;
	    }
	    #stop_auto {
	    	position: absolute;
			right:10px;
			cursor: pointer;
			cursor: hand;
	    }
	    #chat_view {
	    	height:4em;
	    }
	    #chat_list {
	    	overflow:scroll;
	    	height:3em;
	    }
	    .show {	
	    	display:inline;    	
	    }
	    .hide {
	    	display: none;
	    }
	    	    
	</style>
</head>
<body>
	<!-- ステータス画面 -->
	<div class="row" id="status_div">
		<div class="col s12">
			<div class="card z-depth-5">
				<div class="card-content">
					<span class="card-title black-text">ペットのステータス</span>
					<ul>
						<li>ペットの名前: <%= petname %></li>
						<li>機嫌: <%= mood %></li>
						<li>満腹度: <span id="hungry"><%= hungry %></p></li>
						<li id ="sikintes">すきん：<%= modelSkin %></li>
					</ul>
					
					<span class="card-title black-text">ユーザー情報</span>
					<ul>
						<li id="userid" style="display:none"><%= userid %></li>
						<li id="username" style="display:none"><%= username %></li>						
						<li>ユーザー名: <%= username %></li>
						<li>検索ワード: <span id="search_word"><%= history %></span></li>
					</ul>
					<span id="room_state">ルーム未作成</span>
					<input id="makeRoom" type='button' value='ルーム作成' onclick='makeRoom()' /><br>
					<span "join">ルームに入る</span>
					<input id="joinRoomID" class="submit_button" type="text" placeholder="ここにコメントを入力"/>
					<input id="joinButton" type='button' value='ルーム加入' onclick='joinRoom()'/>
					<div id="chat_view" class="hide">
						<div id="chat_list"></div>
						<form>
							<input id="comment" type="text" value=""/>
							<input id="msg_submit" class="submit_button" type="submit" value="送信" />
						 </form>
					</div>
					<p><a href="/logout"><i class="fa fa-sign-out"></i>ログアウト</a></p>
					<p><a href="/setting"><i class="fa fa-cog"></i>アカウント設定</a></p>
					<br>
					<button class="btn-floating btn-large waves-effect waves-light orange" onclick="food()">えさ</button>
					<button class="btn-large waves-effect waves-light" onclick="remark()">おはなし</button>
				</div>
			</div>
		</div>
	</div>

	<!-- ペットの会話用ふきだし -->
	<div id= "pet_baloon"></div>
	
	<div id="searchbox_div" class="card z-depth-5">
		<p id="pet_remark">何について調べますか？</p>
		<div id="cse">
		  <script>
		  (function () {
		    var cx = '013236806639015361436:jiaaode1dms';
		    var gcse = document.createElement('script');
		    gcse.type = 'text/javascript';
		    gcse.async = true;
		    gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
		        '//cse.google.com/cse.js?cx=' + cx;
		    var s = document.getElementsByTagName('script')[0];
		    s.parentNode.insertBefore(gcse, s);
		  })();
		  </script>
		  <gcse:search></gcse:search>
		</div>
  	</div>
  	<div id="auto_search" class="card z-depth-5">
  		<span id="auto_word" style="text-align: center"></span><input id="stop_auto" type='button' value='停止' onclick='stopAuto()'/>
	  	<div id="auto_cse">
				  <script>
				  (function () {
				    var cx = '013236806639015361436:jiaaode1dms';
				    var gcse = document.createElement('script');
				    gcse.type = 'text/javascript';
				    gcse.async = true;
				    gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
				        '//cse.google.com/cse.js?cx=' + cx;
				    var s = document.getElementsByTagName('script')[0];
				    s.parentNode.insertBefore(gcse, s);
				  })();
				  </script>
				  <gcse:search></gcse:search>
		</div>
	</div>
	<script>

	// Load the Search API
	google.load('search', '1');

	    // Set a callback to load the Custom Search Element when you page loads
	    var customSearchControl;
	    google.setOnLoadCallback(
	    	function(){
	    		customSearchControl = new google.search.CustomSearchControl('013236806639015361436:jiaaode1dms');

		        // Use "mysite_" as a unique ID to override the default rendering.
		        google.search.Csedr.addOverride("mysite_");

		        // Draw the Custom Search Control in the div named "CSE"
		        customSearchControl.draw('cse');

		        // Execute an initial search
		        customSearchControl.execute();
	    	},true);

	    var customSearchControl_auto;
	    google.setOnLoadCallback(
	    	function(){
	    		customSearchControl_auto = new google.search.CustomSearchControl('013236806639015361436:jiaaode1dms');

		        // Use "mysite_" as a unique ID to override the default rendering.
		        google.search.Csedr.addOverride("mysite_");

		        // Draw the Custom Search Control in the div named "CSE"
		        customSearchControl_auto.draw('auto_cse');

		        // Execute an initial search
		        customSearchControl_auto.execute();
	    	},true);

	// WebGL未サポートブラウザへの対応
if ( ! Detector.webgl ) Detector.addGetWebGLMessage();

var clock = new THREE.Clock(); //追加
var container, stats;

var camera, scene, projector, renderer,renderer2;

var skycolor;
var camera, scene, projector, renderer;

var mesh = [];
var animation = [];
var model_id = "ID_1"; //モデル、テクスチャの判別
var model_num = 0;//ルームのモデルの数の判別
var connect_num;
var characters = [];
var playbackConfig = [[],[]];
/*
var playbackConfig = {
		speed: 1.0,
		wireframe: false
	}; 
	//いらないかもしれないが取ったら怖いので
*/
var prevTime = [];
prevTime[0] = Date.now();

var KEY_CODE = {
	UP: 38,
	DOWN: 40,
	LEFT: 37,
	RIGHT: 39
};
var mouseXY =[0,0];

var socket = io.connect('http://localhost:3000');

var prev_search_time = Date.now();
var searchTimeSpan = 5000;


window.addEventListener("load", function () {
		//検索でEnter
		/*
	$("#gsc-i-id1").keyup(function(event){
		if(event.keyCode == 13){			
		    message_balloon($("#gsc-i-id1")[0].value + "！");
		    onSearch(); 
	    }
	});
*/
	$("#gsc-i-id1").on("click",function(){
		console.log($("#gsc-i-id1").val());
		console.log($("#gsc-i-id1").val() === "");
		if(!$("#gsc-i-id1")[0].value === "") {	
			console.log("nullじゃないよ")	
		    message_balloon($("#gsc-i-id1")[0].value + "！");
		    onSearch(); 
	    }
	});
		//検索ボタン
	$(".gsc-search-button").click(function (){
		console.log($("#gsc-i-id1")[0].val());
		console.log("a")
		if(!$("#gsc-i-id1")[0].value == "") {	
			message_balloon($("#gsc-i-id1")[0].value + "！");
			onSearch();  
		}    
	});

	console.log('onload')
	//socket.emit("pull_word",$("#userid")[0].innerHTML);
	setInterval("AutoSearch()", 1000);

	/*
	$("#comment").keyup(function(event){		
		if(event.keyCode == 13){		
			console.log("ttt");
			sendMessage();
			event.preventDefault();
			return false;    
	    }
	});*/
	$("#msg_submit").on("click",function () {
		console.log("msgsub")
		if(!$("#comment").val() == "") {
			sendMessage();			
		}
		return false;
	});


	$("#comment").click(function(event){		
		if(event.keyCode == 13){		
			console.log("messs")	
			sendMessage();
			event.preventDefault();
			return false;    
	    }
	});
	$("#send").click(function(e) {
		console.log("meeee");
	    return e.preventDefault();
	});



});


init();
animate();
startListen();


function init() {
	container = document.createElement( 'div' );
	document.body.appendChild( container );

	// サーバーサイドのsocket.IOに接続する
    // 接続出来たら、サーバー側のコンソールにconnected!と表示される
    
	// カメラ
	camera = new THREE.PerspectiveCamera( 50, window.innerWidth / window.innerHeight, 1, 2000 );
	camera.position.set(0,200,600);

	// カメラ追従
	camera.target = new THREE.Vector3(0,100,0);
	//
	var hour = new Date().getHours();
	console.log(hour);
	//時間帯ごとのセット
	var skycolor;

	// 背景
	var hour = new Date().getHours();
	console.log(hour);

	//時間帯ごとのセット
	if(hour >= 0 && hour < 5){
		//夜中
		skycolor = 0x191970;
	}
	else if(hour >=5 && hour < 9){
		//朝
		skycolor = 0xafeeee;
	}
	else if(hour >= 9 && hour < 16){
		//昼
		skycolor = 0x00b9ef;
	} 
	else if(hour >=16 && hour < 19){
		//夕方
		skycolor = 0xff7f50;
	}
	else {
		//夜中
		skycolor = 0x191970;
	} 
	

	scene = new THREE.Scene();
	scene.fog = new THREE.FogExp2( skycolor, 0.0008 );

	//
	
	// マウスのトラックボールのコントロール
	
	controls = new THREE.OrbitControls( camera );
	
	controls.rotateSpeed = 1.0;
	controls.zoomSpeed = 1.2;
	controls.panSpeed = 0.8;

	controls.minPolarAngle = 0; //追加
	controls.maxPolarAngle = Math.PI / 2; //追加、これで地面方向の裏側は見えなくなる

	controls.noZoom = false;
	controls.noPan = false;
	
	controls.minDistance = 200;
	controls.maxDistance = 1000;
	
	controls.target = new THREE.Vector3(200,150,100);

	controls.staticMoving = true;
	controls.dynamicDampingFactor = 0.3;

	controls.keys = [ 65, 83, 68 ];

	controls.addEventListener( 'change', render );
	
	//

	// ライト

	scene.add( new THREE.AmbientLight( 0x777777 ) );

	var light = new THREE.DirectionalLight( 0xffefef, 3 );
	light.position.set(500,250,500);
	light.castShadow = true;
	light.shadowMapWidth = 1024;
	light.shadowMapHeight = 1024;
	light.shadowMapDarkness = 0.95;
	//light.shadowCameraVisible = true;

	scene.add( light );

    /*
	var config = {
		/*
		baseUrl: "models/bear/",
		body: "bear.json", //models/bear/standandwalk.json
		skins: [ "bear_blue.png" ] //models/bear/skins/テクスチャファイル(複数可)
		
		baseUrl: "models/",
		body: "<%= modelNo %>", //models/bear/standandwalk.json
		skins: [ "<%= modelSkin %>" ] //models/bear/skins/テクスチャファイル(複数可)

	}; //モデル番号のとこがわからなかったので書き換えてません、すみません
	character = new THREE.petMotion();
	character.scale = 20;
	console.log(character);
	character.onLoadComplete = function() {
		setupAnimations( character );
	}
	character.loadParts( config );
	scene.add( character.root );
	*/
	modelReader("<%= modelNo %>",[ "<%= modelSkin %>" ],0);
	//modelReader("bear/bear.json","bear/skins/bear_blue.png",1);
	//

	// 地面表示
	var gt = THREE.ImageUtils.loadTexture( "img/grasslight-big.jpg" );
	var gg = new THREE.PlaneBufferGeometry( 4000, 4000 );
	var gm = new THREE.MeshPhongMaterial( { color: 0xffffff, map: gt } );

	var ground = new THREE.Mesh( gg, gm );
	ground.rotation.x = - Math.PI / 2;
	ground.material.map.repeat.set( 10, 10 );
	ground.material.map.wrapS = ground.material.map.wrapT = THREE.RepeatWrapping;
	ground.receiveShadow = true;

	scene.add( ground );

	//

	// 座標軸表示
	/*
	var axis = new THREE.AxisHelper(1000);
	axis.position.set(0,0,0);
	scene.add(axis);
	*/
	// 

	// レンダリング
	
	renderer = new THREE.WebGLRenderer();
	renderer.shadowMapEnabled = true;
	renderer.setClearColor( skycolor );
	renderer.setPixelRatio( window.devicePixelRatio );
	renderer.setSize( window.innerWidth, window.innerHeight );
	container.appendChild(renderer.domElement);
	
	/*
	renderer2 = new THREE.WebGLRenderer();
	renderer2.shadowMapEnabled = true;
	renderer2.setClearColor( skycolor );
	renderer2.setPixelRatio( window.devicePixelRatio );
	renderer2.setSize( window.innerWidth, window.innerHeight );
	container.appendChild(renderer2.domElement);
	*/
	//

	// FPS表示
	stats = new Stats();
	stats.domElement.style.position = 'absolute';
	stats.domElement.style.top = '0px';
	//container.appendChild( stats.domElement );

	//
	//検索でEnter


	window.addEventListener( 'resize', onWindowResize, false );

}

	//bear,brown,0
function modelReader(model_name,model_skin,model_num) {
	var config = {
		baseUrl: "models/",
			body: model_name, //models/bear/standandwalk.json
			skins: [ model_skin ] //models/bear/skins/テクスチャファイル(複数可)
		}; //モデル番号のとこがわからなかったので書き換えてません、すみません
		characters[model_num] = new THREE.petMotion();
		characters[model_num].scale = 20;

		//console.log(character);
		characters[model_num].onLoadComplete = function() {
			console.log("loCon"+model_num);
			setupAnimations( characters[model_num] );
		}
		characters[model_num].loadParts( config );
		scene.add( characters[model_num].root );
}

function setupAnimations( character ) { //アニメーションを格納します

	var generateCallback = function( animationName ) {

		return function () { character.setAnimation( animationName ); };

	}

	var animations = character.meshBody.geometry.animations;
	//console.log(animations.walk);

	for ( var a in animations ) {

		playbackConfig[model_num][ a ] = generateCallback( a );

	}

}


function onWindowResize() {

	camera.aspect = window.innerWidth / window.innerHeight;
	camera.updateProjectionMatrix();

	//controls.handleResize();

	renderer.setSize( window.innerWidth, window.innerHeight );
	//renderer2.setSize( window.innerWidth, window.innerHeight );

}

//
function animate() {
	var ua = window.navigator.userAgent.toLowerCase();
	if(ua.indexOf('firefox') != -1) {
		mozRequestAnimationFrame( animate );
	}else if(ua.indexOf('chrome') != -1) {
		requestAnimationFrame( animate );
	}else {
		requestAnimationFrame( animate );
	}

	render(0,rand1_1,rand2_1);	
	//render(1,rand1_2,rand2_2);
	//characters[1].animationFPS = 40;		
	//renderer2.render( scene, camera );
	//stats.update();


	if(!checkMouseOnElement(mouseXY,"cse") && 
		!checkMouseOnElement(mouseXY,"auto_cse") &&
		 !checkMouseOnElement(mouseXY,"status_div")) {
		controls.enabled = true;
		controls.update();
	}else {
		controls.enabled = false;
		//message_balloon("てすと！");
	}

	//console.log("anim");
}

function onSearch() {
	var word = $("#gsc-i-id1")[0].value;
	console.log(word);
	var id = $("#userid")[0].innerHTML;
	prev_search_time = Date.now();
	socket.emit("send_word",word,id);
}
var radius = 600;

var prevTime = Date.now();

/*var rand = 0;
function rand01() {
	rand = Math.floor(3*Math.random());//0,1,2
	//console.log(rand);
	//clearTimeout();
}*/
//var rand1 = 0; //進む向き
//var rand2 = 1; //立ち止まるか

var rand1_1 = 0;
var rand2_1 = 1;

var rand1_2 = 0;
var rand2_2 = 1;



function rand01() {
    rand1_1 = Math.floor(3 * Math.random());
    rand1_2 = Math.floor(3 * Math.random());
    //console.log(rand1);
    //clearTimeout();
}
function rand02() { //追加
	rand2_1 = Math.floor(5 * Math.random());
	rand2_2 = Math.floor(5 * Math.random());
	//console.log(rand2);
}
setInterval("rand01()",3000);
setInterval("rand02()",2000); //追加

var Position_Fix_Flag = false;

function simplifyRadian(rad) {
	if(rad > (Math.PI*2)) return simplifyRadian(rad - (Math.PI*2));
	else return rad;
}

function render(model_num,rand_1,rand_2) {
    
    if ( characters[model_num] ) { //animation→characters[model_num]
        var delta = clock.getDelta();        
        characters[model_num].update( delta );
        //中心からの二乗距離
        var far = Math.sqrt(Math.pow(characters[model_num].root.position.x,2)+Math.pow(characters[model_num].root.position.z,2));
        //符号        
        //console.log(sign);
        if(Position_Fix_Flag) {                characters[model_num].root.rotation.y = simplifyRadian(characters[model_num].root.rotation.y);            var direct;
            if(characters[model_num].root.position.x >= 0 && characters[model_num].root.position.z >= 0) {
                direct = (Math.acos(Math.abs(characters[model_num].root.position.z)/far) + Math.PI);
            }else if(characters[model_num].root.position.x < 0 && characters[model_num].root.position.z >= 0) {
                direct = (Math.PI-1*Math.acos(Math.abs(characters[model_num].root.position.z)/far));
            }else if(characters[model_num].root.position.x < 0 && characters[model_num].root.position.z < 0) {                
                direct = (Math.acos(Math.abs(characters[model_num].root.position.z)/far));
            }else if(characters[model_num].root.position.x >= 0 && characters[model_num].root.position.z < 0) {
                direct = (2*Math.PI-1*Math.acos(Math.abs(characters[model_num].root.position.z)/far));
            }else{}
            if(    Math.abs(simplifyRadian(direct) - characters[model_num].root.rotation.y) > 0.1 ){
                
                characters[model_num].root.rotation.y += 0.01;
                characters[model_num].root.position.x += Math.sin(characters[model_num].root.rotation.y);
                characters[model_num].root.position.z += Math.cos(characters[model_num].root.rotation.y);
                
            }else {

                console.log("inin");
                characters[model_num].root.position.x += Math.sin(characters[model_num].root.rotation.y);
                characters[model_num].root.position.z += Math.cos(characters[model_num].root.rotation.y);
                if(far < 320) {
                    console.log("out");
                    Position_Fix_Flag = false;                
                }
            }
            
        }        
        else if(far > 350 && !Position_Fix_Flag) {
            console.log("in");
            Position_Fix_Flag = true;
            FixRoot = characters[model_num].root.rotation.y;
            characters[model_num].setAnimation("walk");
        }else if(rand_2 == 0) { //rand=0のとき立ち止まりモーションを立っているものにする            
            if(characters[model_num].activeAnimation == "walk") {
                characters[model_num].setAnimation("stand");
            }
        } else {            if(characters[model_num].activeAnimation == "stand") { //モーションを歩くものにする
                characters[model_num].setAnimation("walk");
            }            if(characters[model_num].root.rotation.y < (Math.PI * 2)) {
                if(rand_1 == 0)
                    characters[model_num].root.rotation.y += 0.01;
                   else if(rand_1==1)
                       characters[model_num].root.rotation.y -= 0.01;
                   else {}                   
            } else {
                characters[model_num].root.rotation.y = 0;
            }            characters[model_num].root.position.x += Math.sin(characters[model_num].root.rotation.y);
            characters[model_num].root.position.z += Math.cos(characters[model_num].root.rotation.y);    
        }            
    } 
    if(Model_Emit_Flag) {
		//console.log("send_model_pos"+mesh[0].position+mesh[0].position.x);
		
		
		//socket.emit("get_connect_count",$("#userid")[0].innerHTML);
		
		socket.json.emit("send_model_pos",
		{"connect_num":connect_num, "position":characters[0].root.position,"rotation":characters[0].root.rotation.y});
		/*
		socket.json.emit("send_model_pos",
		{"room":joinedRoom,"connect_num":1, "position":mesh[0].position,"rotation":mesh[0].rotation.y});
		*/
		
	}

    renderer.render( scene, camera );
} 


function OtherModelRender(num,position_x,position_z,rotation_y) {
	
	if ( animation[num] ) {
		//console.log("other"+position.x);
		var time = Date.now();
		animation[num].update( time - prevTime[num] );
		prevTime[num] = time;
		
		mesh[num].rotation.y = rotation_y;

		mesh[num].position.x = position_x
		mesh[num].position.z = position_z
		//console.log("mesh"+rotation_y +" "+mesh[num].rotation.y);
	}
	//renderer.render( scene, camera );
}

// キーボードのキーが押された時
var mov_distance = 3;//変更はただ変数にしていじりやすくしただけです!!!
document.onkeydown = function (e) {
	var key = e.keyCode;
	//console.log(key);
	// 十字キー
	switch(e.which){

	    case KEY_CODE.RIGHT:
	     camera.position.x += mov_distance;
	     controls.target.x += mov_distance;	     
	     render();
	     break;
	     
	    case KEY_CODE.LEFT:
	     camera.position.x -= mov_distance;
	     controls.target.x -= mov_distance;
	     render();
	     break;
	      
	    case KEY_CODE.UP:
	     camera.position.z -= mov_distance;
	     controls.target.z -= mov_distance;
	     render();
	     break;
	      
	    case KEY_CODE.DOWN:
	     camera.position.z += mov_distance;
	     controls.target.z += mov_distance;
	     render();
	     break;
	 }

}


function MouseMove00Func(e){

	// スクロール位置を取得
	var scroll_pos = DocumentGetScrollPosition(document);
	
	mouseXY = [e.clientX + scroll_pos.x,e.clientY + scroll_pos.y];
	//console.log(checkMouseOnElement(mouseXY,"cse"));
}

// イベントのリッスンを開始する
function startListen() {

	if(document.addEventListener){

		// マウスを移動するたびに実行されるイベント
		document.addEventListener("mousemove" , MouseMove00Func);
		//serch_form.addEventListener("keydown" , serched);
	// アタッチイベントに対応している
	}else if(document.attachEvent){

		// マウスを移動するたびに実行されるイベント
		document.attachEvent("onmousemove" , MouseMove00Func);	
	}

}

// えさボタンがおされたとき
function food() {
	var id = $("#userid")[0].innerHTML;
	socket.emit("food", id);
}

function remark() {
	console.log('remark')
	var id = $("#userid")[0].innerHTML;
	socket.emit("remark", id);
}

var timeOutId_b2 = 0;
function message_balloon(str) {
		timeOutId_b2 = clearTimeout();
		b_2();
		$("#pet_baloon").showBalloon({
			contents: str,
			//"<br /><br /><input type='button' value='閉じる' onclick='b_2()'/>",
			position: "right",
			offsetX: 0,
			offsetY: 0,
			tipSize: 20,
			css: {
				border: "solid 5px #000",
				color: "#000",
				fontWeight: "bold",
				fontSize: "12px",
				background: "url(https://lh5.googleusercontent.com/-vTfpmoECckg/T0odv9K_VbI/AAAAAAAAE4w/Mv9xb2tGomo/s200/_img.png) no-repeat",
				width: "100px",
				//height: "70px",
				borderRadius: "20px",
				opacity: "1",
				padding: "10px 20px 10px 20px",
				overflow:"auto"
			}
		});	
		timeOutId_b2 = setTimeout('b_2()',2000);	
}

function b_2( ) {
	try{$("#pet_baloon").hideBalloon();}catch(e){}
}

var autoFlag = true;
function stopAuto() {
	autoFlag = !autoFlag;
	if(autoFlag) $("#stop_auto")[0].value = "停止";			
	else $("#stop_auto")[0].value = "再開";
}

function AutoSearch() {	
	if(autoFlag && (Date.now() - prev_search_time) > searchTimeSpan) {
		//customSearchControl.execute("auto");
		socket.emit("pull_word",$("#userid")[0].innerHTML);
		prev_search_time = Date.now();
	}
}
var joinedRoom;
function makeRoom() {
	joinedRoom = $("#userid")[0].innerHTML;
	socket.json.emit('init', { 'room': joinedRoom, 'name': '<%= username %>'});
	$("#room_state")[0].innerHTML = "ルーム作成完了 id:"+joinedRoom;
	$("#chat_view").removeClass("hide");
	$("#chat_view").addClass("show");

}
var Model_Emit_Flag = false;
var joinMe = false;
function joinRoom() {
	console.log("joinroom");
	joinedRoom = $("#joinRoomID").val();
	socket.json.emit("join", {"room":joinedRoom , "user": "<%= userid %>" ,
		"name": "<%= username %>"});
	Model_Emit_Flag = true;
	joinMe = true;
	/*
	socket.json.emit("send_model",
		{"room" : joinedRoom, "name": "<%= username %>","modelNo":"<%= modelNo %>", "modelSkin":[ "<%= modelSkin %>" ]    });
*/

}

socket.on("post_word", function (word) {
	var sw = word + " とは";
   	customSearchControl_auto.execute(sw);
   	$("#auto_word")[0].innerHTML = sw +"で検索中！"
   	message_balloon(sw + " を自動で調べたよ！");
   	//setTimeout('b_2()',2000);
});

// えさボタンを押したとき表示されている満腹度が増える
socket.on("update_hungry_by_button", function(hungry, remark) {
	console.log(hungry);
	$('#hungry')[0].innerHTML = (hungry).toString(10);
	message_balloon(remark);
});
socket.on("update_hungry", function(hungry){
	$('#hungry')[0].innerHTML = (hungry).toString(10);
});

// 検索した時表示されている検索ワードを更新
socket.on("update_search_word", function(search_word) {
	$('#search_word')[0].innerHTML = search_word;
});

socket.on("update_remark", function(remark) {
	message_balloon(remark);
});
socket.on('disconnect', function () {
	console.log('disconnected');
});

function sendMessage() {
	console.log($("#comment")[0].value);
	socket.json.emit("send_message",
		{"room" : joinedRoom, "name": "<% username %>", "comment":$("#comment")[0].value});
	$("#comment")[0].value = "";
}

$("#msg_submit").on("click",function () {
        if(!$("#message").val() == "") {
          sendMessage();
        }
      });


socket.on("room_message",function (message){
	console.log("onroommes");
	$("#room_state")[0].innerHTML = "ルーム作成完了 id:"+joinedRoom;
	$("#chat_view").removeClass("hide");

	$("#chat_list").append("<div class='msg'>" + message + "</div>");
	var scrollHeight = document.getElementById("chat_list").scrollHeight;
	document.getElementById("chat_list").scrollTop = scrollHeight;
});
/*
socket.on("send_model",function(req) {
    	chat.to(req.room).emit("room_model",req.model_id);
    });

    socket.on("send_model_pos",function(req) {
    	chat.to(req.room).emit("room_model_pos",req);
    });
*/

socket.on("model_emit",function(room) {
	/*
	socket.json.emit("send_model",
		{"room" : joinedRoom, "name": "<%= username %>","modelNo":"<%= modelNo %>", "modelSkin":[ "<%= modelSkin %>" ]    });*/
});

socket.on("room_model",function(req) {
	console.log("on_room_model");
	Model_Emit_Flag = true;
	console.log(req.modelNo+"::"+req.modelSkin);

	modelReader(req.modelNo,req.modelSkin,1);
	//render(1,rand1_2,rand2_2);
	model_num++;
});
socket.on("req_model",function() {
	console.log("req_room");
	if(!joinMe) {
		console.log("req_roomjoin");
		socket.json.emit("send_model",
		{"room" : joinedRoom, "name": "<%= username %>","modelNo":"<%= modelNo %>", "modelSkin":[ "<%= modelSkin %>" ]    }); 
	}
});
socket.on("room_model_pos",function(req) {
	//OtherModelRender(req.connect_num,req.position,req.rotation);
	//console.log("rmp"+req.rotation+req.position.x+req.position.z);
	character[1].position.z = req.position_z;
	character[1].position.x = req.position_x;
	character[1].rotation.y = req.rotation;
	//OtherModelRender(1,req.position.x,req.position.z,req.rotation);
});
socket.on("ret_connect_count",function(req) {
	connect_num = req;
});


</script>
</body>
</html>